@charset 'UTF-8';
@font-face {
  font-family: 'Officina';
  src: url('/fonts/OfficinaSerifC-Book.otf');
}
@font-face {
  font-family: 'Officina';
  font-weight: bold;
  src: url('/fonts/OfficinaSerifC-Bold.otf');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:not([type]),
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  padding-top: 0px;
}
input,
input[type="password"],
input[type="search"],
isindex {
  border: 0px inset;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
body {
  background-color: #ece9e2;
  color: #000000;
  font-size: 16px;
  font-family: "Officina", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
img {
  width: auto 9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #eb7c2d;
}
.page {
  margin: 0 auto;
  max-width: 640px;
}
.container {
  margin-top: 1.25rem;
  margin-left: 3.125%;
  margin-right: 3.125%;
}
.nav-main {
  background-color: #f4f4f4;
  border-bottom: 2px solid #e0ddd9;
}
.nav-main ul li {
  float: left;
  font: 1.75rem normal "Officina", Arial, sans-serif;
  line-height: 5.5rem;
  height: 5.5rem;
  border-right: 2px solid #e0ddd9;
  text-align: center;
}
.nav-main ul li:last-child {
  border-right: 0px;
}
.nav-main .nav-main-logo {
  width: 31.3235294%;
}
.nav-main .nav-main-registration {
  width: 35.4411765%;
}
.nav-main .nav-main-enter {
  width: 26.7647059%;
}
.nav-slave {
  padding: 1.25rem;
  background-color: #ffffff;
  border: 2px solid #e0ddd9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.terms {
  position: relative;
  padding: 1.25rem;
  background-color: #ffffff;
  border: 2px solid #e0ddd9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.terms .terms-header {
  color: #000000;
  font: 2.0625rem bold "Officina", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.terms .terms-text {
  color: #767676;
  font: 1.625rem italic "Officina", Arial, sans-serif;
  margin-top: 1.25rem;
}
.terms:after {
  background: url("../images/arrow-right.png") no-repeat;
  width: 0.875rem;
  height: 1.3125rem;
  content: "";
  position: absolute;
  top: 2.8125rem;
  right: 1.25rem;
}
.banner-header .banner img {
  border: 2px solid #e0ddd9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.contents .content-header,
.contents .content-new-header,
.contents .content-top-header {
  color: #000000;
  font: 2.625rem bold "Officina", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  margin-bottom: 2.5rem;
}
.contents .content-item {
  float: left;
  padding: 0.4375rem;
  background-color: #ffffff;
  border: 2px solid #e0ddd9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width: 45%;
}
.contents .content-item:nth-child(even) {
  margin-left: 1.5rem;
  margin-bottom: 1.25rem;
}
.contents .content-item-header {
  font: 1.75rem normal "Officina", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  margin-top: 0.4375rem;
  white-space: nowrap;
}
.contents .content-item-header span {
  float: left;
  width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contents .content-item-header img {
  float: right;
}
.contents .content-item-preview {
  margin-top: 1.25rem;
}
.contents .content-pagination {
  background-color: #ffffff;
  font: 1.75rem bold "Officina", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 2px solid #e0ddd9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 1.25rem;
  text-align: center;
}
.contents .content-pagination ul li {
  display: inline-block;
  margin-left: 0.3125rem;
  height: 3.5rem;
  line-height: 3.5rem;
}
.contents .content-pagination ul li:first-child {
  margin-left: 0px;
}
.contents .content-pagination ul li a {
  background-color: #ffffff;
  padding: 0.9375rem 1.125rem 0.9375rem 1.125rem;
  border: 2px solid #e0ddd9;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.contents .content-pagination ul li.page-left a,
.contents .content-pagination ul li.page-right a {
  padding: 0.9375rem;
}
.contents .content-pagination a:hover,
.contents .content-pagination .active {
  color: #eb7c2d;
}
.content-new {
  margin-top: 2.5rem;
}
.content .content-header {
  color: #000000;
  font: 2.625rem bold "Officina", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  margin-bottom: 2.5rem;
}
.content .content-rating {
  background-color: #ffffff;
  border: 2px solid #e0ddd9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 1.25rem;
  text-align: center;
}
.content .content-rating ul li {
  font: normal 1.75rem "Officina", Arial, sans-serif;
  display: inline-block;
}
.content .content-rating ul li:first-child {
  margin-right: 10px;
}
.content .content-card {
  background-color: #ffffff;
  border: 2px solid #e0ddd9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 1.25rem;
  margin-top: 1.25rem;
}
.content .content-screenshots {
  position: relative;
}
.content .content-screenshots #screenshots img {
  border: 2px solid #ffd823;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.content .content-screenshots .prev {
  position: absolute;
  top: 40%;
  left: 0;
}
.content .content-screenshots .next {
  position: absolute;
  top: 40%;
  right: 0;
}
.content .content-description {
  font: 1.3125rem normal "Officina", Arial, sans-serif;
}
.content .content-description p {
  padding-top: 1.5625rem;
}
.content .content-description ul {
  list-style-type: disc;
  list-style-position: inside;
}
.content .content-social-btns {
  background-color: #ffffff;
  border: 2px solid #e0ddd9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  padding: 1.25rem;
  margin-top: 1.25rem;
  text-align: center;
}
.content .content-social-btns ul li {
  display: inline-block;
  margin-left: 5px;
}
.content .content-social-btns ul li:first-child {
  margin-left: 0px;
}
.content .content-social-btns ul li a {
  padding: 15px 5px;
  border: 2px solid #e0ddd9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.text-header {
  color: #000000;
  font: 2.625rem bold "Officina", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
}
.text {
  font: 1.625rem italic "Officina", Arial, sans-serif;
  margin-top: 1.25rem;
  padding: 1.25rem;
  background-color: #ffffff;
  border: 2px solid #e0ddd9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.text p {
  padding-top: 1.5625rem;
}
.text ul {
  list-style-type: disc;
  list-style-position: inside;
}
.text ul li {
  line-height: 1.5;
}
.login .login-header {
  color: #000000;
  font: 2.625rem bold "Officina", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  margin-bottom: 2.5rem;
}
.login .login-form {
  padding: 1.25rem;
  background-color: #ffffff;
  border: 2px solid #e0ddd9;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.login .login-form label {
  color: #7a7a7a;
  font: normal 1.3125rem "Officina", Arial, sans-serif;
}
.login .login-form input {
  vertical-align: middle;
  outline: 0;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.login .login-form p {
  color: #7a7a7a;
  margin-top: 0.625rem;
}
.login .login-form input[type="tel"],
.login .login-form input[type="password"],
.login .login-form input[type="text"] {
  font: normal 1.625rem "Officina", Arial, sans-serif;
  border: 2px solid #e0ddd9;
  border-radius: 0;
  height: 4rem;
  width: 100%;
  padding: 0.625rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.login .login-form input[type="tel"]:focus,
.login .login-form input[type="password"]:focus,
.login .login-form input[type="text"]:focus {
  -webkit-box-shadow: inset 0 0 5px #ffd823;
  box-shadow: inset 0 0 5px #ffd823;
  border: 1px solid #ffd823;
}
.login .login-form-description {
  font: normal 1rem "Officina", Arial, sans-serif;
}
.catalog .catalog-header {
  color: #000000;
  font: 2.625rem bold "Officina", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  margin-bottom: 2.5rem;
}
.catalog .nav-catalog ul li {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #e0ddd9;
  border-bottom-width: 1px;
  font: 2.25rem normal "Officina", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 5.5rem;
  padding-left: 30px;
}
.catalog .nav-catalog ul li:first-child {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.catalog .nav-catalog ul li:last-child {
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-width: 2px;
}
.catalog .nav-catalog ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.catalog .nav-catalog ul li:after {
  background: url("../images/arrow-right.png") no-repeat;
  width: 0.875rem;
  height: 1.3125rem;
  content: "";
  position: absolute;
  top: 2rem;
  right: 1.25rem;
}
.catalog .nav-catalog ul li:hover:after {
  background: url("../images/arrow-right-selected.png") no-repeat;
  width: 0.875rem;
  height: 1.3125rem;
  content: "";
  position: absolute;
  top: 2rem;
  right: 1.25rem;
}
.search {
  padding: 1.25rem;
  background-color: #ffffff;
  border: 2px solid #e0ddd9;
  margin-bottom: 1.25rem;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.search .search-form label {
  color: #767676;
  font: 2rem normal "Officina", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.search .search-form .search-form-elements {
  margin-top: 0.9375rem;
}
.search .search-form input {
  vertical-align: middle;
  outline: 0;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.search .search-form input[type="search"],
.search .search-form input[type="text"] {
  font: normal 1.625rem "Officina", Arial, sans-serif;
  border: 2px solid #e0ddd9;
  -webkit-appearance: none;
  border-radius: 0;
  height: 4rem;
  padding: 0.625rem;
  width: 70.1438849%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.search .search-form input[type="search"]:focus,
.search .search-form input[type="text"]:focus {
  -webkit-box-shadow: inset 0 0 5px #ffd823;
  box-shadow: inset 0 0 5px #ffd823;
  border: 1px solid #ffd823;
}
a.btn,
a.btn:hover,
a.btn:visited {
  color: #000000;
}
.btn {
  display: inline-block;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 56px;
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn-default {
  color: #000000;
  border-color: #c7c7c7;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  color: #000000;
}
.btn-default,
.btn-default:hover {
  background: #dfdfdf;
  background: -webkit-linear-gradient(top, #fafafa 30%, #c8c8c8 100%);
  background: -moz-linear-gradient(top, #fafafa 30%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #fafafa 30%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #fafafa 30%, #c8c8c8 100%);
  background: linear-gradient(top, #fafafa 30%, #c8c8c8 100%);
}
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background: #ffc722;
  background: -webkit-linear-gradient(top, #f7a900 0%, #ffe100 100%);
  background: -moz-linear-gradient(top, #f7a900 0%, #ffe100 100%);
  background: -ms-linear-gradient(top, #f7a900 0%, #ffe100 100%);
  background: -o-linear-gradient(top, #f7a900 0%, #ffe100 100%);
  background: linear-gradient(top, #f7a900 0%, #ffe100 100%);
  border-color: #ed951b;
}
.btn-default:hover {
  background: none;
  background: #dfdfdf;
}
.btn-default.active:hover {
  background: none;
  background: #ffc722;
}
.btn-socialgame {
  width: 208px;
}
.btn-online {
  width: 209px;
}
.btn-play,
.btn-login {
  background: #F7A700;
  background: linear-gradient(to bottom, #ffe100 0px, #f7a700 100%);
  background: -webkit-linear-gradient(top, #ffe100 0px, #f7a700 100%);
  background: -o-linear-gradient(top, #ffe100 0px, #f7a700 100%);
  background: -ms-linear-gradient(top, #ffe100 0px, #f7a700 100%);
  background: linear-gradient(to bottom, #ffe100 0px, #f7a700 100%) transparent;
  border-color: #ed951b;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  font-weight: bold;
}
.btn-search {
  background: #F7A700;
  background: linear-gradient(to bottom, #ffe100 0px, #f7a700 100%);
  background: -webkit-linear-gradient(top, #ffe100 0px, #f7a700 100%);
  background: -o-linear-gradient(top, #ffe100 0px, #f7a700 100%);
  background: -ms-linear-gradient(top, #ffe100 0px, #f7a700 100%);
  background: linear-gradient(to bottom, #ffe100 0px, #f7a700 100%) transparent;
  border-color: #ed951b;
  margin-left: 15px;
}
.btn-play:hover,
.btn-login:hover,
.btn-search:hover {
  background: none;
  background: #ffc722;
}
.btn-rounded {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}
.btn-group > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -2px;
}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix:after {
  clear: both;
}
/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix {
  zoom: 1;
}
